
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Equipo</title>
    <link rel="stylesheet" href="../static/css/estilos_editar.css"
</head>
<body>

<div class="container">
    <div class="card">
        <h2>✏️ Editar Equipo</h2>

        <form method="POST">
            <input type="text" name="nombre" value="{{ producto[2] }}" required>
            <input type="text" name="marca" value="{{ producto[3] }}">
            <input type="text" name="tipo" value="{{ producto[4] }}">
            <input type="text" name="imei" value="{{ producto[5] }}">
            <input type="text" name="ram" value="{{ producto[6] }}">
            <input type="text" name="procesador" value="{{ producto[7] }}">
            <input type="text" name="referencia" value="{{ producto[8] }}">
            <input type="text" name="capacidad" value="{{ producto[9] }}">
            <input type="text" name="serial" value="{{ producto[10] }}">

            <button type="submit">Guardar Cambios</button>
        </form>

    <a href="/usuarios">inventario Volver</a>
    </div>
</div>

</body>
</html>