<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Equipo</title>
    <link rel="stylesheet" href="../static/css/estilos_eliminar.css">
</head>
<body>

<div class="container">
    <div class="card danger">
        <h2>⚠️ Eliminar Equipo</h2>

        <p>
            ¿Seguro que deseas eliminar el equipo:
            <strong>{{ producto[10] }}</strong>?
            <strong>{{ producto[2] }}</strong>
        </p>

        <form method="POST">
            <button type="submit" class="btn-danger">
                Sí, eliminar
            </button>
        </form>

        <a href="/usuarios">inventario Cancelar</a>
    </div>
</div>

</body>
</html>
