<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <link rel="stylesheet" href="../static/css/estilos_inventario.css">
</head>
<body>

<h1 style="text-align: center;">inventario</h1>

<table style="margin: 0 auto;">
    <thead>
        <th>nombre</th>
        <th>marca </th> 
        <th>tipo</th>
        <th>imei</th>
        <th>ram</th>
        <th>procesador</th>
        <th>referencia</th> 
        <th>capacidad </th> 
        <th>serial </th>
        <th></th>

    </thead>

    {% for p in productos %}
<tr>
    <td>{{ p[2] }}</td>
    <td>{{ p[3] }}</td>
    <td>{{ p[4] }}</td>
    <td>{{ p[5] }}</td>
    <td>{{ p[6] }}</td>
    <td>{{ p[7] }}</td>
    <td>{{ p[8] }}</td>
    <td>{{ p[9] }}</td>
    <td>{{ p[10] }}</td>



{% endfor %}
</table>

<br>

<p style="text-align: center;">
  <a href="/menu">Regreso menú</a>
</p>
</br>


</body>
</html>