<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <link rel="stylesheet" href="../static/css/estilos_inventario.css">
</head>
<body>

<h1 style="text-align: center;">inventario</h1>

<table style="margin: 0 auto;">
    <tr>
        <th>id</th>
        <th>nombre</th>
        <th>cantidad</th>
        <th>marca </th> 
        <th>tipo</th>
        <th>imei</th>
        <th>ram</th>
        <th>procesador</th>
        <th>referencia</th> 
        <th>capacidad </th> 
        <th>serial </th>
        <th>sede </th>
        <th>ubicacion </th> 
        <th>cc</th> 
        <th>persona </th>


    </tr>

    {% for p in productos %}
<tr>
    <td>{{ p[0] }}</td>
    <td>{{ p[1] }}</td>
    <td>{{ p[2] }}</td>
    <td>{{ p[3] }}</td>
    <td>{{ p[4] }}</td>
    <td>{{ p[5] }}</td>
    <td>{{ p[6] }}</td>
    <td>{{ p[7] }}</td>
    <td>{{ p[8] }}</td>
    <td>{{ p[9] }}</td>
    <td>{{ p[10] }}</td>
    <td>{{ p[11] }}</td>
    <td>{{ p[12] }}</td>
    <td>{{ p[13] }}</td>
    <td>{{ p[14] }}</td>
    <td>
        <a href="/editar/{{ p[0] }}">Editar</a> |
        <form action="/eliminar/{{ p[0] }}" method="POST" style="display:inline;"
        onsubmit="return confirm('¿Seguro que quieres eliminar este producto?');" >
    <button type="submit">Eliminar</button>
</form>
    </td>
</tr>
{% endfor %}
</table>

<br>

<p style="text-align: center;">
  <a href="/">Agregar producto</a>
</p>

</body>
</html>