<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/eslilos_login.css">
</head>
<body>
    
<header>

<div class="logo">
<img src="rpg">
Mi Sistema
</div>

<nav>
<ul>
<li><a href="#">Inicio</a></li>
<li><a href="#">Contacto</a></li>
<li><a href="#">Registro</a></li>
<li><a href="#">Iniciar sesión</a></li>
</ul>
</nav>

</header>

<div class="container">

<div class="login-box">

<h2>Iniciar Sesión</h2>

<form>

<div class="input-group">
<label>Usuario</label>
<input type="text" placeholder="Ingresa tu usuario">
</div>

<div class="input-group">
<label>Contraseña</label>
<input type="password" placeholder="Ingresa tu contraseña">
</div>

<button class="btn btn-login">Ingresar</button>
<button class="btn btn-register">Registrarse</button>

</form>

</div>

</div>

</body>

</html>