<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Inventario</title>
    <link rel="stylesheet" href="../static/css/estilos_registro.css">
    

</head>

<body>

<div class="container">
    <div class="card">
        <h2>📦 Registro de Inventario 📦</h2>

        <form method="POST">

            <input name="nombre" placeholder="Nombre del producto" required>
            <input name="marca" placeholder="Marca">
            <input name="tipo" placeholder="Tipo">
            <input name="imei" placeholder="IMEI">
            <input name="ram" placeholder="RAM">
            <input name="procesador" placeholder="Procesador">
            <input name="referencia" placeholder="Referencia">
            <input name="capacidad" placeholder="Capacidad">
            <input name="serial" placeholder="Serial">

            <button type="submit">Guardar Producto</button>

        </form>

        {% if mensaje %}
            <p class="mensaje">{{ mensaje }}</p>
        {% endif %}

        <a href="/menu">Regresar menú</a>
    </div>
</div>

</body>
</html>