<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Inventario</title>
    <link rel="stylesheet" href="../static/css/estilos_registro.css"
</head>

<body>

<h2 style="text-align:center;">📦 Registro de Inventario 📦</h2>

<form method="POST">
    <input name="nombre" placeholder="Nombre del producto" required>
    <input name="cantidad" placeholder="Cantidad" required>
    <input name="marca" placeholder="Marca">
    <input name="tipo" placeholder="Tipo">
    <input name="imei" placeholder="IMEI">
    <input name="ram" placeholder="RAM">
    <input name="procesador" placeholder="Procesador">
    <input name="referencia" placeholder="Referencia">
    <input name="capacidad" placeholder="Capacidad">
    <input name="serial" placeholder="Serial">
    <input name="sede" placeholder="Sede">
    <input name="ubicacion" placeholder="Ubicación">
    <input name="cc" placeholder="Cédula (CC)">
    <input name="persona" placeholder="Persona responsable">

    <button type="submit">Guardar Producto</button>
    <a href="/inventario">
    <button type ="button"> VER INVENTARIO </button>
    </a>

</form>

{% if mensaje %}
<p style="text-align:center; color:green;">{{ mensaje }}</p>
{% endif %}

</body>
</html>